body {
  font-family: 'Jost', sans-serif;
  overflow-x: hidden;
  background-color: #C9CADC;
}

header h1 {
  padding: 15px 0px 0px 15px;
  color: #2B363E;
  margin-bottom: 0px;
}

header p {
  margin-top: 0px;
  margin-left: 15px;
  color: #B17B33;
}

#navLinks {
  width: 100%;
  list-style-type: none;
  display:flex;
  margin: 0px 0px 15px 15px;
  padding: 0px;
}

#navLinks a{
  color: #8592AC;
  font-weight: bold;
  margin-right: 20px;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
}

#navLinks a:hover {
  color: #B17B33;
}

.navbar-text {
  padding: 0px 100px 0px 0px;
  font-weight: bold;
  justify-content: right;
  color: #8592AC;
}

.jumbotron {
  padding: 0px;
  background-image: url("images/jumbotronimage.jpg");
  background-position: center;
  background-size: cover;
  height: 580px;
}

.container {
  text-align: center;
  margin: 0px auto;
  color: white;
}

.display-4 {
  padding-top: 15px;
}

.jumbotron p {
  font-weight: bold;
  font-style: italic;
}

#shopPage {
  background-image: url("https://cdn.miscellaneoushi.com/1920x1080/20121022/headphones%20blondes%20women%20graffiti%20dance%20headphones%20girl%20sunglasses%20dancers%20dancing%20sweatpants%20192_www.miscellaneoushi.com_36.jpg ");
}

.categoryH1 {
  text-align: center;
  color: #2B363E;
  margin-bottom: 12px;
}

.categoryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categoryCard {
  margin: 0px 10px;
}

.categoryCard h3 {
  text-align: center;
  color: #524D57;
  margin: 6px 0px;
}

.categoryBody {
  padding: 0px 20px 20px 20px;
}

.categoryP {
  color: #8592AC;
}

.categoryButton {
  background-color: #8592AC;
  border: 1px solid #8592AC;
}


#productCardContainer {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  /* border: 1px solid black; */
}

#productCardContainer img {
  object-fit: contain;
}

.sweatCardBody {
  color: #2B363E 
}

#sweatsCard img {
  max-height: 300px;
  max-width: 300px;
}
#sweatsCard {
  max-width: 300px;
  border: 2px solid #2b363e;
}

footer {
  border-top: 1px solid rgba(133, 146, 172, 0.406);
  margin-top: 32px;
}

ul {
  text-align: center;
  list-style: inside;
}

footer li {
  list-style: none;
}

.social-icon {
  height: 1em;
}

#footerLinks a{
  color: #8592AC;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
}

#footerLinks a:hover {
  color: #B17B33;
}

.nav-col {
  width: 414px;
  margin: 10px;
}

.nav-row {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  padding: 0px 11%;
}

#about-header-text {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: -30px;
  background-color: white;
  padding: 25px;
  width: 80%;
}
